<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iPara Developer Portal </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">

                <img src="~/Content/iPara_disi-01.png" width="10%" height="10%" />
                <ul class="nav navbar-nav">
                     <li>@Html.ActionLink("3D Ödeme ", "Index", "Home")</li>
                    <li>@Html.ActionLink("(Non-3D) Ödeme ", "ApiPayment", "Home")</li>
                    <li>@Html.ActionLink("Ödeme Sorgulama", "PaymentInqury", "Home")</li>
                    <li>@Html.ActionLink("Bin Sorgulama", "BinInqury", "Home")</li>
                    <li>@Html.ActionLink("Cüzdana Kart Ekle", "AddCardToWallet", "Home")</li>
                    <li>@Html.ActionLink("Cüzdandaki Kartları Listele", "GetCardFromWallet", "Home")</li>
                    <li>@Html.ActionLink("Cüzdandan Kart Sil", "DeleteCardFromWallet", "Home")</li>
                    <li>@Html.ActionLink("Cüzdandaki Kart (Tek Tıkla) İle Ödeme", "ApiPaymentWithWallet", "Home")</li>
    </ul>
            </div>
        </div>
    </div>
<div class="container body-content">

    <br />
    <br />
    <br />
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - iPara</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
